{% extends layout_template %}

{% block title %}Profile{% endblock %}
{% block header %}View Profile{% endblock %}

{% block actions %}
    <a href="{% url 'profile-edit' username=object.username %}" class="btn btn-link btn-primary pull-right"><span class="fa fa-pencil"></span> Edit</a>
{% endblock %}

{% block aside-content %}
    <div class="list-group">
        <a href="{% url 'profile-view' username=object.username %}" class="list-group-item active">Details</a>
        <a href="" class="list-group-item">Recent Activity</a>
        <a href="" class="list-group-item">Statistics <span class="fa fa-caret-right pull-right"></span></a>
    </div>
{% endblock %}

{% block content %}
    <p>{{ object }}</p>
{% endblock %}
