<!DOCTYPE html>
{% load pipeline %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% stylesheet 'fonts' %}
        <script src="https://use.fontawesome.com/75f141360b.js"></script>
        
        <title>{% block title %}{% endblock %} | book-wiki</title>
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
        {% stylesheet 'bookwiki' %}
        {% block css %}
        {% endblock %}
    </head>

    <body class="layout-{% block layout-slug %}{% endblock %}">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">book-wiki</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="">Project Name</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
	                        <li class="dropdown">
	                            <a href="#" class="dropdown-toggle" id="user-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
	                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                    <li><a href="{% url 'profile-view' username=request.user.username %}">Profile</a></li>
	                                <li><a href="{% url 'logout' %}">Logout</a></li>
	                            </ul>
	                        </li>
	                    {% else %}
	                        <li><a href="{% url 'login' %}">Login</a></li>
	                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            {% block layout %}
            
            {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% javascript 'bookwiki' %}
        {% block js %}
        {% endblock %}
    </body>
</html>