{% extends base_template %}
{% block layout-slug %}split{% endblock %}

{% block layout %}
    {% block prefix %} {% endblock %}
    <div id="action-bar">{% block actions %}{% endblock %}</div>
    <div class="row">
        <div class="col-xs-12">{% block header %} {% endblock %}</div>
    </div>
    <div class="row">
        <div class="col-sm-6 {{ left_slug }}">
            {% block left-header %}{% endblock %}
            <div class="page-content">
                {% block left-content %}{% endblock %}
            </div>
        </div>

        <div class="col-sm-6 col-sm-offset-6 {{ right_slug }}">
            {% block right-header %}{% endblock %}
            <div class="page-content">
                {% block right-content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block suffix %} {% endblock %}
{% endblock %}
